---
import { Resize } from "@cloudinary/url-gen/actions";
import CldImage from "../../components/CldImage.astro";
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navTitle = "Chairman's Message";
export const __kci_navBanner = "chairmans-message-banner_39cfa1";
export const __kci_navDesc = "A message from our Chairman.";
export const __kci_navSerialNum = 1;
---

<AboutPageLayout>
  <TopHero slot="hero" title={__kci_navTitle} bgImageSrc={__kci_navBanner} />
  <Section>
    <article class="prose max-w-none">
      <CldImage
        src="cmd-profile_yhaten"
        width="200px"
        height="300px"
        alt="Chairman"
        transform={(image) => image.resize(Resize.fill(200, 300))}
        class="md:float-right m-0 mx-auto md:ml-4 p-0"
      />
      <p>
        Over the course of 5 decades, Kanoria Chemicals & Industries Ltd. (KCI)
        has emerged as a leading manufacturer of chemical intermediates and
        specialties catering to the needs of a cross section of Indian industry.
      </p>
      <p>
        Our tenet of sustainability and transparency is reflected in the latest
        ISO certifications for quality, environment and organisational health
        and safety. KCI has received the CRISIL GVC Level 3 rating for its
        'strong' capability of wealth creation for all stakeholders through
        sound corporate governance practices. We are one of the few companies in
        India to be awarded the <a
          href="https://icca-chem.org/focus/responsible-care/"
          target="_blank">Responsible Care</a
        > certification.
      </p>
      <p>
        We have consciously built our product portfolio through global
        best-in-class technological adaptations combined with a steady focus on
        backward and forward integration to emerge as a high quality
        manufacturer. We also have long term supply commitments with our
        customers both in India and abroad.
      </p>
      <p>
        As a responsible corporate citizen, we have gone much beyond what is
        required of us by statutes. Our state-of-the-art effluent treatment and
        its commercial utilisation provide us with one of the greenest environs
        around a chemical plant.
      </p>
      <p>
        As we continue to grow our chemicals business, we have now diversified
        into other areas such as automotive and industrial electronics, and
        textiles.
      </p>
      <p>
        I extend an invitation to learn more about Kanoria Chemicals &
        Industries Ltd. Do browse our website. We welcome your comments at
        <a href="mailto:info@kanoriachem.com">info@kanoriachem.com</a>.
      </p>
      <p>
        R.V. Kanoria<br />
        Chairman & Managing Director<br />
        Kanoria Chemicals & Industries Limited
      </p>
    </article>
  </Section>
</AboutPageLayout>
