---
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navBanner = "corporate-group-banner_obtdw3";
export const __kci_navDesc =
  "KCI is a part of a diversified, well-established corporate family. We are a values-driven group. We believe in a focus on quality, partnerships, and social responsibility.";
---

<AboutPageLayout>
  <!-- Photo by <a href="https://unsplash.com/@photowolf?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joshua Olsen</a> on <a href="https://unsplash.com/photos/zR3wTk9End8?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   -->
  <TopHero slot="hero" title="Corporate Group" bgImageSrc={__kci_navBanner} />
  <div>TBD</div>
</AboutPageLayout>
