---
import { Resize } from "@cloudinary/url-gen/actions";
import NavCards from "../../components/aboutPage/NavCards.astro";
import CldImage from "../../components/CldImage.astro";
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import H2 from "../../components/typography/H2.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navTitle = "About Us";
export const __kci_navBanner = "about-us-banner_ekw5kg";
---

<AboutPageLayout>
  <TopHero slot="hero" title="About Us" bgImageSrc={__kci_navBanner} />
  <Section>
    <H2>Chairman's Message</H2>
    <article class="prose">
      <CldImage
        src="cmd-profile_yhaten"
        width="200px"
        height="300px"
        alt="Chairman"
        transform={(image) => image.resize(Resize.fill(200, 300))}
        class="md:float-right m-0 mx-auto md:ml-4 p-0"
      />
      <p>
        Over the course of 5 decades, Kanoria Chemicals & Industries (KCI) has
        emerged as a leading manufacturer of chemical intermediates catering to
        the needs of a cross section of Indian industry.
      </p>
      <p>
        Our tenet of sustainability and transparency is reflected in the latest
        ISO certifications for quality, environment and organisational health
        and safety. KCI has received the CRISIL GVC Level 3 rating for its
        'strong' capability of wealth creation for all stakeholders through
        sound corporate governance practices. We are one of the few holders in
        India of the <a
          href="https://icca-chem.org/focus/responsible-care/"
          target="_blank">Responsible Care</a
        > Logo.
      </p>
      <p>
        We have consciously built our product portfolio through global
        best-in-class technological adaptations and combined with a steady focus
        on backward and forward integration to emerge as a high quality
        manufacturer. We also have long term supply commitments with our
        customers both in India and abroad.
      </p>
      <p>
        As a responsible corporate citizen, we have gone much beyond what is
        required of us by statutes. Our state-of-the-art effluent treatment and
        its commercial utilisation provide us with one of the greenest environs
        around a chemical plant.
      </p>
      <p>
        As we continue to grow our chemicals business, we have now diversified
        into other areas such as automotive and industrial electronics, and
        textiles.
      </p>
      <p>
        I extend an invitation to learn more about Kanoria Chemicals &
        Industries Limited. Do browse our website. We welcome your comments at
        info@kanoriachem.com.
      </p>
      <p>
        R.V. Kanoria<br />
        Chairman & Managing Director<br />
        Kanoria Chemicals & Industries Limited
      </p>
    </article>
  </Section>
  <Section>
    <NavCards />
  </Section>
</AboutPageLayout>
