---
import { Resize } from "@cloudinary/url-gen/actions";
import NavCards from "../../components/aboutPage/NavCards.astro";
import CldImage from "../../components/CldImage.astro";
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import H2 from "../../components/typography/H2.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navTitle = "About Us";
export const __kci_navBanner = "about-us-banner_ekw5kg";
---

<AboutPageLayout>
  <TopHero slot="hero" title={__kci_navTitle} bgImageSrc={__kci_navBanner} />
  <Section>
    <article class="prose max-w-none"></article>
  </Section>
  <!-- Deleting NavCards section for now. -->
  <!-- TODO Decide whether to keep the NavCards section on the about us page -->
  <!-- <Section>
    <NavCards />
  </Section> -->
</AboutPageLayout>
