---
import Menu from "../../components/aboutPage/Menu.astro";
import Layout from "../../layouts/Layout.astro";

export const dummy = "DUMMY";
---

<Layout title="About Us - Kanoria Chemicals">
  <div class="lg:flex">
    <Menu />
    <main>About KCI</main>
  </div>
</Layout>
