---
import { Resize } from "@cloudinary/url-gen/actions";
import Carousel from "../../components/Carousel.astro";
import CldImage from "../../components/CldImage.astro";
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import H2 from "../../components/typography/H2.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navBanner = "infra-banner_nx9jw7";
export const __kci_navDesc =
  "We operate 3 state-of-the-art manufacturing facilities in India, strategically located near consumption centres and raw material sources.";
export const __kci_navSerialNum = 2;
---

<AboutPageLayout>
  <TopHero slot="hero" title="Infrastructure" bgImageSrc={__kci_navBanner} />
  <Section>
    <article class="prose max-w-none">
      <p>
        KCI's manufacturing facilities are constructed with the future in mind.
        We invest in cutting edge technology for production, R&D and waste
        treatment.
      </p>
      <p>
        Our efforts towards environmental sustainability have gained us
        recognition from industry. We are constantly innovating to deliver
        better products, higher process yields and lower resource consumption.
      </p>
    </article>
  </Section>
  <Section>
    <H2>Ankleshwar, Gujarat</H2>
    <article class="prose max-w-none mb-8">
      <p>
        Located in the chemical industry hub of Gujarat, this facility is close
        to both customers and to raw materials. Among several other products, we
        run India's largest Formaldehyde plant here.
      </p>
    </article>
    <Carousel
      items={[
        { image: { src: "penta_xlszw6", alt: "Pentaerythritol Plant" } },
        { image: { src: "fd4_enisya", alt: "Formaldehyde Plant" } },
        { image: { src: "hexa_vzst6c", alt: "Hexamine Plant" } },
        { image: { src: "tank-farm_l6k86c", alt: "Tank Farm" } },
        { image: { src: "instrument-lab_cc2jec", alt: "Laboratory " } },
      ]}
    />
  </Section>
  <Section>
    <div class="grid sm:grid-cols-2 mb-4">
      <div class="flex flex-col bg-stone-100 p-4 justify-center">
        <article class="prose max-w-none text-lg">
          <h3>R&D Centre @ Ankleshwar</h3>
          <p>
            At our DSIR recognized research centre at Ankleshwar, we have a team
            of scientists and engineers working on new products, waste
            elimination and conservation of natural resources.
          </p>
        </article>
      </div>
      <CldImage
        src="rnd-entrance-close_svgidy"
        width="500px"
        height="400px"
        alt="Ankleshwar R&D Centre"
        transform={(image) =>
          image.resize(Resize.fill(500, 400).gravity("west"))}
      />
    </div>
  </Section>
  <Section>
    <H2>Visakhapatnam, Andhra Pradesh</H2>
    <article class="prose max-w-none mb-8">
      <p>
        This facility is strategically located to serve customers in Eastern and
        Southern India. It is close to Vizag and Gangavaram ports for easy
        access to raw materials.
      </p>
    </article>
    <Carousel
      items={[
        { image: { src: "fd-vizag_kkai0g", alt: "Formaldehyde Plant" } },
        { image: { src: "hexa-plant_ydin3z", alt: "Hexamine Plant" } },
        { image: { src: "resin-plant_mjtb0s", alt: "Phenolic Resin Plant" } },
        { image: { src: "rnd-pilot-plant_n8zjlv", alt: "R&D Pilot Plant" } },
        { image: { src: "tank-farm_aybbf2", alt: "Tank Farm" } },
      ]}
    />
  </Section>
  <Section>
    <H2>Naidupeta, Andhra Pradesh</H2>
    <article class="prose max-w-none mb-8">
      <p>
        Located at the southern tip of Andhra Pradesh, this facility is ideally
        situated to cater to the fast growing laminate, MDF and particle board
        industry in the region.
      </p>
    </article>
  </Section>
</AboutPageLayout>
