---
import Carousel from "../../components/Carousel.astro";
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import H2 from "../../components/typography/H2.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navBanner = "infra-banner_nx9jw7";
export const __kci_navDesc =
  "We operate 3 state-of-the-art manufacturing facilities in India, strategically located near consumption centres and raw material sources.";
---

<AboutPageLayout>
  <TopHero slot="hero" title="Infrastructure" bgImageSrc={__kci_navBanner} />
  <Section>
    <article class="prose">
      <p>
        Our manufacturing facilities are constructed with a keen eye on the
        future. We invest in cutting edge technology for production, research &
        development and waste treatment.
      </p>
      <p>
        We believe in responsible innovation. Our efforts towards environmental
        sustainability have gained us recognition from the industry. To maintain
        a global competitive edge, we are constantly innovating to deliver
        better products, higher process yields and lower energy and water usage.
      </p>
    </article>
  </Section>
  <Section>
    <H2>Ankleshwar, Gujarat</H2>
    <article class="prose mb-8">
      <p>
        Located in the chemical industry hub of Gujarat, this facility is close
        to both customers and to raw materials. The company’s commitment to the
        environment, to employee welfare and to customer satisfaction has earned
        this facility Responsible Care certification. Among several other
        products, we run India's largest Formaldehyde plant here.
      </p>
    </article>
    <Carousel
      images={[
        { src: "penta_xlszw6", alt: "Pentaerythritol Plant" },
        { src: "fd4_enisya", alt: "Formaldehyde Plant" },
        { src: "hexa_vzst6c", alt: "Hexamine Plant" },
        { src: "tank-farm_l6k86c", alt: "Tank Farm" },
        { src: "instrument-lab_cc2jec", alt: "Laboratory " },
      ]}
    />
  </Section>
  <Section>
    <H2>Visakhapatnam, Andhra Pradesh</H2>
    <article class="prose mb-8">
      <p>
        This facility is strategically located to serve customers in Eastern and
        Southern India. It is close to Vizag and Gangavaram ports for easy
        access to raw materials.
      </p>
    </article>
    <Carousel
      images={[
        { src: "fd-vizag_kkai0g", alt: "Formaldehyde Plant" },
        { src: "hexa-plant_ydin3z", alt: "Hexamine Plant" },
        { src: "resin-plant_mjtb0s", alt: "Phenolic Resin Plant" },
        { src: "rnd-pilot-plant_n8zjlv", alt: "R&D Pilot Plant" },
        { src: "tank-farm_aybbf2", alt: "Tank Farm" },
      ]}
    />
  </Section>
</AboutPageLayout>
