---
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";
---

<AboutPageLayout>
  <TopHero
    slot="hero"
    title="Infrastructure"
    bgImageSrc="infra-banner_nx9jw7"
  />
  <div>TBD</div>
</AboutPageLayout>
