---
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navBanner = "our-story-banner_rnqh7u";
export const __kci_navDesc =
  "Our journey, beginning in 1960 with a caustic soda plant in Uttar Pradesh, to a global presence spanning chemicals, automotive electronics and textiles.";
---

<AboutPageLayout>
  <TopHero slot="hero" title="Our Story" bgImageSrc={__kci_navBanner} />
  <div>TBD</div>
</AboutPageLayout>
