---
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";
---

<AboutPageLayout>
  <TopHero slot="hero" title="Our Story" bgImageSrc="our-story-banner_ekw5kg" />
  <div>TBD</div>
</AboutPageLayout>
