---
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navTitle = "Social Responsibility";
export const __kci_navBanner = "csr-banner_nr5qpv";
export const __kci_navDesc =
  "As we grow, we make sure we give back. Our activities are primarily focused on education and skill development, particular for women.";
---

<AboutPageLayout>
  <TopHero
    slot="hero"
    title="Social Responsibility"
    bgImageSrc={__kci_navBanner}
  />
  <div>TBD</div>
</AboutPageLayout>
