---
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navBanner = "sustain-banner_u1eoze";
export const __kci_navDesc =
  "Along with in-house R&D, KCI partners with academia and industry to ensure that growth and sustainability go hand-in-hand. We have received several awards for our efforts.";
---

<AboutPageLayout>
  <TopHero slot="hero" title="Sustainability" bgImageSrc={__kci_navBanner} />
  <div>TBD</div>
</AboutPageLayout>
