---
import TopHero from "../../components/TopHero.astro";
import AboutPageLayout from "../../layouts/AboutPageLayout.astro";

export const __kci_navTitle = "Sustainability and CSR";
---

<AboutPageLayout>
  <TopHero
    slot="hero"
    title="Sustainability and CSR"
    bgImageSrc="sustain-banner_u1eoze"
  />
  <div>TBD</div>
</AboutPageLayout>
