<div class="card card-compact rounded-none bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">News Item</h2>
    <p>Brief of news item</p>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Details</button>
    </div>
  </div>
</div>
