---
import { useStoryblokApi } from "@storyblok/astro";
import Carousel from "../Carousel.astro";
import dayjs from "dayjs";
import { marked } from "marked";

const storyblokApi = useStoryblokApi();

const { data } = await storyblokApi.get("cdn/stories/news", {
  version: import.meta.env.DEV ? "draft" : "published",
});

const items: {
  news: {
    headline: string;
    excerpt: string;
    body: string;
    timestamp: Date;
  };
}[] = data.story.content.items.slice(0, 4).map((item) => ({
  news: item,
}));
---

<>
  <Carousel density="dense" items={items} />
  {
    items.map((item, index) => (
      <>
        <input
          type="checkbox"
          id={`news-modal-${index + 1}`}
          class="modal-toggle"
        />
        <div class="modal">
          <div class="modal-box w-11/12 max-w-3xl">
            <div class="text-stone-500 mb-2">
              {dayjs(item.news.timestamp).format("MMMM YYYY")}
            </div>
            <h3 class="font-bold text-2xl mb-4">{item.news.headline}</h3>
            <article
              class="prose max-w-none"
              set:html={marked.parse(item.news.body)}
            />
            <div class="modal-action">
              <label for={`news-modal-${index + 1}`} class="btn">
                Close
              </label>
            </div>
          </div>
        </div>
      </>
    ))
  }
</>
