---
import { getPageLinks, mapPageLinks } from "../../utils";
import Section from "../Section.astro";
import H2 from "../typography/H2.astro";
import ProductListItem from "./ProductListItem.astro";

const links = await getPageLinks(
  import.meta.glob("../../pages/products/*.{astro,md,mdx,html}")
);
---

<>
  {
    mapPageLinks(
      (links, group) => (
        <Section>
          <h3 class="mb-4 text-stone-600 uppercase">{group}</h3>
          <div class="grid md:grid-cols-2">
            {links.map((link) => (
              <ProductListItem pageLink={link} />
            ))}
          </div>
        </Section>
      ),
      links
    )
  }
</>
