---
import InvestorsPageLayout from "../../layouts/InvestorsPageLayout.astro";
import H2 from "../../components/typography/H2.astro";
import CmsFileTable from "../../components/CmsFileTable.astro";

export const __kci_navTitle = "Annual Reports";
export const __kci_navGroup = "Financial Results";
---

<InvestorsPageLayout>
  <H2>{__kci_navTitle}</H2>
  <CmsFileTable story="annual-reports" />
</InvestorsPageLayout>
