---
import Section from "../../components/Section.astro";
import H2 from "../../components/typography/H2.astro";
import InvestorsPageLayout from "../../layouts/InvestorsPageLayout.astro";
import LiFile from "../../components/LiFile.astro";

export const __kci_navTitle = "Disclosures under Regulation 46 of the LODR";
export const __kci_navGroup = "Corporate Governance";
---

<InvestorsPageLayout>
  <H2>{__kci_navTitle}</H2>
  <Section>
    <article class="prose max-w-none">
      <ul>
        <LiFile href="/about">Details of business</LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/270ac807a6/appointment-letter-of-independent-directors.pdf"
        >
          Terms and conditions for appointment of independent directors
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/7ebff3704a/committee-of-board-of-directors.pdf"
        >
          Composition of various committees of board of directors
        </LiFile>
        <LiFile href="/investors/code-of-conduct">
          Code of conduct of board of directors and senior management personnel
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/6807582d71/whistle-blower-policy.pdf"
        >
          Details of establishment of vigil mechanism/Whistle Blower policy
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/7c1e71ac49/criteria-payments-to-ned.pdf"
        >
          Criteria of making payments to non-executive directors, if the same
          has not been disclosed in annual report
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/cd073cbbd4/policy-on-related-party-transactions.pdf"
        >
          Policy on dealing with related party transactions
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/9d7bf34559/policy-for-determining-material-subsidiaries.pdf"
        >
          Policy for determining 'material' subsidiaries
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/b511e264ea/familiarisation-programme.pdf"
        >
          Details of familiarization programmes imparted to independent
          directors including the following details:-
        </LiFile>
        <ul>
          <LiFile
            href="https://a.storyblok.com/f/209886/x/b511e264ea/familiarisation-programme.pdf"
          >
            Number of programmes attended by independent directors (during the
            year and on a cumulative basis till date)
          </LiFile>
          <LiFile
            href="https://a.storyblok.com/f/209886/x/b511e264ea/familiarisation-programme.pdf"
          >
            Number of hours spent by independent directors in such programmes
            (during the year and on cumulative basis till date), and
          </LiFile>
          <LiFile
            href="https://a.storyblok.com/f/209886/x/b511e264ea/familiarisation-programme.pdf"
          >
            Other relevant details
          </LiFile>
        </ul>
        <LiFile href="/investors/investor-relations-contact">
          The email address for grievance redressal and other relevant details
        </LiFile>
        <LiFile href="/investors/shareholding-pattern">
          Shareholding pattern
        </LiFile>
        <LiFile href="/investors/newspaper-publications">
          Items published in the newspaper:
        </LiFile>
        <ul>
          <LiFile href="/investors/newspaper-publications">
            financial results, as specified in regulation 33, along-with the
            modified opinion(s) or reservation(s), if any, expressed by the
            auditor
          </LiFile>
          <LiFile href="/investors/newspaper-publications">
            notices given to shareholders by advertisement
          </LiFile>
        </ul>
        <LiFile href="/investors/credit-rating">
          All credit ratings obtained by the entity for all its outstanding
          instruments, updated immediately as and when there is any revision in
          any of the ratings
        </LiFile>
        <LiFile href="/investors/subsidiary-accounts">
          Separate audited financial statements of each subsidiary of the listed
          entity in respect of a relevant financial year, uploaded at least 21
          days prior to the date of the annual general meeting which has been
          called to inter alia consider accounts of that financial year
        </LiFile>
        <LiFile href="/investors/annual-secy-compliance-reports">
          Secretarial compliance report
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/5a173c05e4/policy-for-determination-of-materiality-of-events-information.pdf"
        >
          Disclosure of the policy for determination of materiality of events or
          information
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/3a8662fc64/key-managerial-personnel-of-the-company-to-determine-of-anevent.pdf"
        >
          Disclosure of contact details of key managerial personnel who are
          authorized for the purpose of determining materiality of an event or
          information and for the purpose of making disclosures to stock
          exchange(s)
        </LiFile>
        <LiFile href="/investors">
          All such events or information which has been disclosed to stock
          exchange(s) under regulation 30 of LODR
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/0d69572dd8/dividend-distribution-policy.pdf"
        >
          Dividend distribution policy by listed entities based on market
          capitalization
        </LiFile>
        <LiFile href="/investors/annual-returns">
          Annual return as provided under section 92 of the Companies Act, 2013
          and the rules made thereunder
        </LiFile>
      </ul>
    </article>
  </Section>
</InvestorsPageLayout>
