---
import CmsFileTable from "../../components/CmsFileTable.astro";
import LiFile from "../../components/LiFile.astro";
import Section from "../../components/Section.astro";
import H2 from "../../components/typography/H2.astro";
import InvestorsPageLayout from "../../layouts/InvestorsPageLayout.astro";

export const __kci_navTitle = "Investors";
---

<InvestorsPageLayout>
  <H2>Communication to Investors</H2>
  <Section>
    <CmsFileTable story="investor-communications" />
  </Section>
  <Section>
    <article class="prose max-w-none">
      <h3>Independent Directors</h3>
      <ul>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/0d182ac26a/appointment-letter-of-independent-directors.pdf"
        >
          Appointment letter of Independent Directors
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/e03fd10ecb/criteria-payments-to-ned.pdf"
        >
          Criteria - Payments to Non Executive Directors
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/174a5373f7/familiarisation-programme-for-independent-directors.pdf"
        >
          Familiarization Programme for Independent Directors
        </LiFile>
      </ul>
      <p>
        For any investor related query or for sending us your feedback, please
        write to us at: <a href="mailto:investor@kanoriachem.com">Feedback</a>
      </p>
      <p>For assistance and handling of investor grievances, please contact:</p>
      <p class="ml-4">
        Neha Saraf<br />
        Company Secretary & Compliance Officer<br />
        Kanoria Chemicals & Industries Limited<br />
        KCI Plaza, 6th Floor, 23C Ashutosh Chowdhury Avenue, Kolkata 700019<br
        />
        Email: <a href="mailto:neha.saraf@kanoriachem.com"
          >neha.saraf@kanoriachem.com</a
        ><br />
        Landline: 033-40313207
      </p>
    </article>
  </Section>
</InvestorsPageLayout>
