---
import Section from "../../components/Section.astro";
import Faq from "../../components/investorsPage/Faq.astro";
import H2 from "../../components/typography/H2.astro";
import InvestorsPageLayout from "../../layouts/InvestorsPageLayout.astro";

export const __kci_navTitle = "Shareholders FAQs";
---

<InvestorsPageLayout>
  <H2>{__kci_navTitle}</H2>

  <Faq>
    <span slot="question"
      >Who are the Registrars and Share Transfer Agents of Kanoria Chemicals &
      Industries Limited?
    </span>
    For shares held in Depository Mode as well as in Physical Mode, the Registrar
    and Share Transfer Agent is:<br />
    <h3 class="text-base text-primary mb-2 font-bold">Corporate Office:</h3>
    C B Management Services (P) Limited<br />
    Rasoi Court, 5th Floor<br />
    20, Sir R.N. Mukherjee Road<br />
    Kolkata - 700 001<br />
    Phone: +91-33-4011 6700<br />
    Email: <a href="mailto:rta@cbmsl.com">rta@cbmsl.com</a><br />
    Website: <a href="https://cbmsl.com" target="_blank">cbmsl.com</a>
    <h3 class="text-base text-primary mb-2 font-bold">Registered Office:</h3>
    C-101, 1st Floor, 247 Park, L.B.S Marg, Vikhroli (West) Mumbai - 400 083
  </Faq>

  <Faq>
    <span slot="question">
      Where is the registered office of Kanoria Chemicals & Industries Limited?
    </span>
    The Registered Office of the Company is located at:<br />
    'KCI Plaza', 6th Floor,<br />
    23-C, Ashutosh Chowdhury Avenue,<br />
    Kolkata - 700 019<br />
    Phone No.: +91-33-40313200<br />
    Website: <a href="https://www.kanoriachem.com">www.kanoriachem.com</a><br />
    Email: <a href="mailto:investor@kanoriachem.com">investor@kanoriachem.com</a
    ><br />
  </Faq>

  <Faq>
    <span slot="question">
      What is the present paid-up capital of Kanoria Chemicals & Industries
      Limited?
    </span>
    The present paid-up capital of Kanoria Chemicals & Industries Limited is Rs.21,84,66,665/-.
  </Faq>

  <Faq>
    <span slot="question"
      >On which Stock Exchanges are the shares of Kanoria Chemicals & Industries
      Limited listed?
    </span>
    Shares of the Company are listed at the following Stock exchanges:<br />
    <table>
      <tr>
        <td>A</td>
        <td>
          BSE Limited<br />
          Phiroze Jeejeebhoy Towers,<br />
          Dalal Street,<br />
          Mumbai - 400 001
        </td>
      </tr>
      <tr>
        <td>B</td>
        <td>
          National Stock Exchange of India Limited<br />
          Exchange Plaza, 5th Floor,<br />
          Plot N. C/1- G Block,<br />
          Bandra Kurla Complex,<br />
          Bandra (E), Mumbai – 400 051
        </td>
      </tr>
    </table>
  </Faq>

  <Faq>
    <span slot="question">
      Can Kanoria Chemicals & Industries Limited shares be traded in physical
      format?
    </span>
    No. The company's shares have come under compulsory demat w.e.f. 26th December
    2000. This means that in order to either buy or sell shares of the Company, a
    shareholder would have to open a demat account and get the existing physical
    shares converted into demat mode for selling the shares. Also those who intend
    to buy the Company's shares through stock market would necessarily have to open
    a demat account.
  </Faq>

  <Faq>
    <span slot="question">
      Under which category the shares of Kanoria Chemicals & Industries Limited
      are traded on the Stock Exchanges?
    </span>
    BSE Limited; Group B
  </Faq>

  <Faq>
    <span slot="question">How do you open a Depository account?</span>
    The shareholder is required to approach a Depository Participant and apply in
    prescribed application form for opening the Depository account.
  </Faq>

  <Faq>
    <span slot="question">
      What is the ticker symbol for Kanoria Chemicals & Industries Limited?
    </span>
    The following are the respective ticker symbols for Kanoria Chemicals & Industries
    Limited:
    <table>
      <tr>
        <td>National Stock Exchange</td>
        <td>KANORIACHEM</td>
      </tr>
      <tr>
        <td>BSE</td>
        <td>506525</td>
      </tr>
      <tr>
        <td>Reuters</td>
        <td>KNRC.NS (NSE), KNRC.BO (BSE)</td>
      </tr>
    </table>
  </Faq>

  <Faq>
    <span slot="question">
      What is the Stock Code for Kanoria Chemicals & Industries Limited for
      depository account?
    </span>
    The identification number (or ISIN) for Kanoria Chemicals & Industries Limited
    stock for trade in the Depository mode in both the National Securities Depository
    Limited (NSDL) and Central Depository Securities (India) Limited (CDSL) is INE
    138CO1024.
  </Faq>

  <Faq>
    <span slot="question">
      Who can an investor contact with respect to questions or requests for
      investor Information in India?
    </span>
    Please note that queries need to be directed as follows:
    <table>
      <tr>
        <td>For share transfer (Physical and Demat):</td>
        <td>Registrar and Share Transfer Agents</td>
      </tr>
      <tr>
        <td>For investor information:</td>
        <td>Company Secretary, KCI</td>
      </tr>
      <tr>
        <td>Compliance Officer:</td>
        <td>Company Secretary</td>
      </tr>
    </table>
  </Faq>
</InvestorsPageLayout>
