---
import LiFile from "../../components/LiFile.astro";
import Section from "../../components/Section.astro";
import H2 from "../../components/typography/H2.astro";
import InvestorsPageLayout from "../../layouts/InvestorsPageLayout.astro";

export const __kci_navTitle = "Unpaid/Unclaimed Dividend";
---

<InvestorsPageLayout>
  <H2>{__kci_navTitle}</H2>
  <Section>
    <article class="prose max-w-none">
      <ul>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/717decb199/nodal-officer-for-iepf.pdf"
        >
          Appointment of Nodal Officer for IEPF
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/7d138c46c5/list-of-shareholders-whose-shares-are-to-be-transferred-to-iepf.pdf"
        >
          List of Shareholders whose shares are to be Transferred to IEPF
        </LiFile>
        <LiFile
          href="https://a.storyblok.com/f/209886/x/f3f0ea015d/procedure-to-claim-refund-of-dividend-and-shares-to-iepf.pdf"
        >
          Procedure to claim refund of the dividend and shares transferred to
          IEPF Authority
        </LiFile>
      </ul>
    </article>
  </Section>
  <Section>
    <div class="collapse collapse-plus border">
      <input type="checkbox" />
      <h3 class="collapse-title text-xl">
        Details of the shares transferred to IEPF Authority
      </h3>
      <div class="collapse-content">
        <article class="prose max-w-none">
          <ul>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/f45a6be69d/shares-transferred-to-iepf-dividend-unpaid-or-unclaimed-for-7-consecutive-years-till-f-y-2013-2014.pdf"
            >
              Shares Transferred to IEPF- Dividend unpaid or unclaimed for 7
              consecutive years till F. Y. 2013 2014
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/d7476da32c/shares-transferred-to-iepf-dividend-unpaid-or-unclaimed-for-7-consecutive-years-till-f-y-2012-2013.pdf"
            >
              Shares Transferred to IEPF- Dividend unpaid or unclaimed for 7
              consecutive years till F. Y. 2012 2013
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/ce29b793db/shares-transferred-to-iepf-dividend-unpaid-or-unclaimed-for-7-consecutive-years-till-f-y-2011-2012.pdf"
            >
              Shares Transferred to IEPF- Dividend unpaid or unclaimed for 7
              consecutive years till F. Y. 2011 2012
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/3cb7765da5/shares-transferred-to-iepf-dividend-unpaid-or-unclaimed-for-7-consecutive-years-till-f-y-2010-2011.pdf"
            >
              Shares Transferred to IEPF- Dividend unpaid or unclaimed for 7
              consecutive years till F. Y. 2010 2011
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/595ae71496/shares-transferred-to-iepf-dividend-unpaid-or-unclaimed-for-7-consecutive-years-till-f-y-2009-2010.pdf"
            >
              Shares Transferred to IEPF- Dividend unpaid or unclaimed for 7
              consecutive years till F. Y. 2009 2010
            </LiFile>
          </ul>
        </article>
      </div>
    </div>
  </Section>
  <Section>
    <div class="collapse collapse-plus border">
      <input type="checkbox" />
      <h3 class="collapse-title text-xl">
        Dividend Transferred to IEPF Authority
      </h3>
      <div class="collapse-content">
        <article class="prose max-w-none">
          <ul>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/2a043cda30/dividend-transferred-to-iepf-financial-year-2013-2014.pdf"
            >
              Dividend Transferred to IEPF Financial Year 2013 2014
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/d6e27dbe0d/dividend-transferred-to-iepf-financial-year-2012-2013.pdf"
            >
              Dividend Transferred to IEPF Financial Year 2012 2013
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/200efb85e0/dividend-transferred-to-iepf-financial-year-2011-2012.pdf"
            >
              Dividend Transferred to IEPF Financial Year 2011 2012
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/7f78fb2a03/dividend-transferred-to-iepf-financial-year-2010-2011.pdf"
            >
              Dividend Transferred to IEPF Financial Year 2010 2011
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/85e438c919/dididend-transferred-to-iepf-financial-year-2009-2010.pdf"
            >
              Dividend Transferred to IEPF Financial Year 2009 2010
            </LiFile>
            <LiFile
              href="https://a.storyblok.com/f/209886/x/3f134c9df7/dividend-transferred-to-iepf-financial-year-2008-2009.pdf"
            >
              Dividend Transferred to IEPF Financial Year 2008 2009
            </LiFile>
          </ul>
        </article>
      </div>
    </div>
  </Section>
  <Section>
    <article class="prose max-w-none">
      <p>
        Unclaimed Dividend for the years prior to and including the financial
        year 2013-14 has been transferred to the General Revenue Account of the
        Central Government / the Investor Education and Protection Fund (IEPF)
        established by the Central Government, as applicable.
      </p>
      <p>
        Shareholders who have not encashed their dividend warrants relating to
        financial year(s) up to and including 1993-94 may claim such dividend
        (transferred to the General Revenue Account) from the
      </p>
      <p class="ml-4">
        Registrar of Companies, West Bengal, Government of India<br />
        Nizam Palace, 2nd MSO Building, 234/4 A.J.C. Bose Road<br />
        Kolkata 700 020<br />
      </p>
      <p>by applying in the prescribed form.</p>
      <p>
        Dividend for the undernoted years, if remaining unclaimed for 7 years,
        will be transferred by the Company to IEPF in accordance with the
        schedule as under:
      </p>
      <p>
        <a
          href="https://a.storyblok.com/f/209886/x/0b999b526a/unpaid-dividend-2013-2014-to-2018-2019.pdf"
          >Details of Unclaimed and Unpaid Dividend for previous seven years
          including Current Year</a
        >
      </p>
      <p>
        <b
          >Note :The Company has not declared any dividend on Equity Shares for
          the Financial Year 2019-2020 and 2020-2021.</b
        >
      </p>
      <p>
        In case you have any unclaimed dividend in respect of the financial
        years mentioned above, please write to our Registrar and Share Transfer
        Agent at the following address for claiming the dividend:
      </p>
      <p class="ml-4">
        C. B. Management Services (P) Limited<br />
        P-22, Bondel Road, Kolkata –700 019<br />
        Phone: (033) 40116700, (033) 22806692 (3 lines)<br />
        Fax: (033) 40116739<br />
        Email: <a href="mailto:rta@cbmsl.com">rta@cbmsl.com</a><br />
      </p>
    </article>
  </Section>
</InvestorsPageLayout>
