---
import { Resize } from "@cloudinary/url-gen/actions";
import LightGallery from "../../components/LightGallery.astro";
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import OneColumnLayout from "../../layouts/OneColumnLayout.astro";
import H2 from "../../components/typography/H2.astro";

export const __kci_navBanner = "careers-banner_ylfipb";
---

<OneColumnLayout title="Careers - Kanoria Chemicals">
  <TopHero slot="hero" title="Careers" bgImageSrc={__kci_navBanner} />
  <Section class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <h2 class="text-4xl text-primary">
      Working at Kanoria Chemicals means confronting challenges with innovation,
      dedication, and passion.
    </h2>
    <article class="prose max-w-none">
      <p>
        We make building blocks for some of the most ubiquitous infrastructure
        needed in our daily lives, which means our products make their way to
        over a billion people.
      </p>
      <p>
        We see this as strong motivation to not only do our best, but to always
        push our boundaries. This means working with a talented, close-knit
        group of people on cutting edge technologies and innovative products. Of
        course, with the utmost care for safety and the environment, as our
        numerous awards over the years show.
      </p>
    </article>
  </Section>
  <Section>
    <div class="hero bg-base-200">
      <div class="hero-content p-8">
        <div class="flex flex-col items-center">
          <H2>Life @ Kanoria Chemicals</H2>
          <ul class="list-disc list-inside md:columns-2 lg:columns-3">
            {
              [
                "Equality and respect",
                "Ownership and freedom",
                "Learning opportunities",
                "Cutting edge technologies",
                "A culture of innovation",
                "Small, close-knit teams",
              ].map((i) => <li class="pr-1">{i}</li>)
            }
          </ul>
        </div>
      </div>
    </div>
  </Section>
  <Section>
    <LightGallery
      images={[
        { src: "control-room_btm04x", alt: "DCS Control Room" },
        { src: "instrument-lab_i73ryk", alt: "Instrument Lab" },
        { src: "lab-ank_lamrbj", alt: "Laboratory" },
        { src: "volleyball_x3dp7n", alt: "Volleyball @ FIT Kanoria" },
        { src: "office_dppaw5", alt: "Engineering Office" },
        { src: "badminton_mgwirk", alt: "Badminton @ FIT Kanoria" },
        { src: "careers-banner_ylfipb", alt: "Resin Plant Inauguration" },
        { src: "greenery_s8ylao", alt: "Green Surroundings" },
      ]}
      transformThumb={(image) => image.resize(Resize.fit(500, 500))}
    />
    <div class="py-3"></div>
  </Section>
  <Section class="flex flex-col items-center">
    <div class="max-w-md">
      <H2>We'd Like to Hear From You</H2>
      <article class="prose max-w-none">
        <p>
          We are always looking for talented, motivated people to join us. To
          learn more about job opportunities at Kanoria Chemicals, please send
          us your resume at <a href="mailto:hr@kanoriachem.com"
            >hr@kanoriachem.com</a
          >.
        </p>
      </article>
    </div>
  </Section>
</OneColumnLayout>
