---
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import Address from "../../components/contactPage/Address.astro";
import BoundedContainer from "../../components/BoundedContainer.astro";
import Layout from "../../layouts/Layout.astro";

export const __kci_navTitle = "Contact Us";
export const __kci_navBanner = "admin-building_40e4d4";
---

<Layout isUnbounded title={`${__kci_navTitle} - Kanoria Chemicals`}>
  <TopHero slot="hero" title={__kci_navTitle} bgImageSrc={__kci_navBanner} />
  <Section isBox>
    <BoundedContainer>
      <div class="grid md:grid-cols-2 gap-y-12 gap-x-4">
        <Address
          locationType="Registered Office"
          companyName="Kanoria Chemicals and Industries Limited"
          address={[
            "'KCI Plaza', 6th Floor",
            "23-C Ashutosh Chowdhury Avenue",
            "Kolkata - 700 019",
          ]}
          phone="+91-33-40313200"
          email="info@kanoriachem.com"
        />
        <Address
          locationType="Corporate Office"
          companyName="Kanoria Chemicals and Industries Limited"
          address={[
            "Indraprakash Building, 11th Floor",
            "21 Barakhamba Road",
            "New Delhi - 110 001",
          ]}
          phone="+91-11-43579200"
        />
        <Address
          locationType="Ankleshwar Chemical Works"
          companyName="Kanoria Chemicals and Industries Limited"
          address={[
            "3407 GIDC Industrial Estate",
            "P.O. Ankleshwar, District Bharuch",
            "Gujarat - 393 002",
          ]}
          phone="+91-2646-678801-03"
        />
        <Address
          locationType="Visakhapatnam Chemical Works"
          companyName="Kanoria Chemicals and Industries Limited"
          address={[
            "Plot No.32, Jawaharlal Nehru Pharma City",
            "Parwada, Vishakhapatnam",
            "Andhra Pradesh - 531 021",
          ]}
          phone="+91-8924-236056"
        />
        <Address
          locationType="Naidupeta Chemical Works"
          companyName="Kanoria Chemicals and Industries Limited"
          address={[
            "Plot No.50 & 51,Block C, APIIC Industrial Park",
            "Village Menakuru, Naidupeta Mandal, District Tirupati",
            "Andhra Pradesh - 524 126",
          ]}
          phone="+91-8623-276911, +91-8623-276912"
        />
      </div>
    </BoundedContainer>
  </Section>
  <Section isBox class="bg-stone-100">
    <BoundedContainer>
      <iframe
        src="https://docs.google.com/forms/d/e/1FAIpQLSdfVFmXM0oxc6IXz2kDEdX3bMnbc5qAqocFLho2LhTfsw7ikg/viewform?embedded=true"
        width="100%"
        height="1053px"
        frameborder="0"
        marginheight="0"
        marginwidth="0">Loading…</iframe
      >
    </BoundedContainer>
  </Section>
</Layout>
