---
import { HTMLAttributes } from "astro/types";

export interface Props extends HTMLAttributes<"h2"> {}

const { class: className, ...props } = Astro.props;
---

<h2 class:list={["text-3xl pb-4", className]} {...props}><slot /></h2>
