---
import { Resize } from "@cloudinary/url-gen/actions";
import CldImage from "../components/CldImage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to KCI">
  <main>
    <CldImage
      src="banner_xgcvqp"
      width="6379px"
      height="3588px"
      alt="KCI banner"
      transform={(image) => image.resize(Resize.fill().width(2000).height(800))}
    />
  </main>
</Layout>
