---
import { concatPageLink, mapPageLinks, PageLink } from "../../utils";
import NavGroupTitle from "../NavGroupTitle.astro";
import NavBarItem from "./NavBarItem.astro";

export interface Props {
  links: Record<string, PageLink[]>;
  overviewLinkHref: string;
  overviewLinkTitle?: string;
}

const { links, overviewLinkHref, overviewLinkTitle = "Overview" } = Astro.props;
---

<ul class="p-2 bg-base-200 z-10 shadow-xl">
  {
    mapPageLinks(
      (links, group) => (
        <>
          <NavGroupTitle group={group} />
          {links.map((link) => (
            <li>
              <NavBarItem
                pageLink={link}
                activeIfExact={link.title === overviewLinkTitle}
              />
            </li>
          ))}
        </>
      ),
      concatPageLink(links, {
        href: overviewLinkHref,
        title: overviewLinkTitle,
      })
    )
  }
</ul>
