---
import CldImage from "./CldImage.astro";

export interface Props {
  images: { src: string; alt: string }[];
}

const { images } = Astro.props;
---

<!-- my-carousel used to avoid conflict with daisyUI carousel -->
<section class="splide my-carousel" aria-label="Image gallery">
  <div class="splide__track">
    <ul class="splide__list">
      {
        images.map((image) => (
          <li class="splide__slide">
            <div class="relative h-full">
              <CldImage
                src={image.src}
                width="100%"
                height="100%"
                alt={image.alt}
                class="w-full h-full object-cover"
              />
              <div class="absolute left-1 bottom-1 p-1 text-center bg-base-100 bg-opacity-90">
                {image.alt}
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style is:global>
  .carousel__arrow {
    @apply w-12 h-12 bg-base-300 shadow-lg;
  }

  .carousel__pagination__page {
    @apply bottom-[-32px] w-2 h-2 bg-gray-300;
  }

  .carousel__pagination__page.is-active {
    @apply bg-gray-500;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  import "@splidejs/splide/css";

  document.addEventListener("DOMContentLoaded", function () {
    const elements = document.getElementsByClassName("my-carousel");
    for (let element of elements) {
      new Splide(element as HTMLElement, {
        type: "loop",
        padding: "96px",
        gap: "16px",
        breakpoints: {
          640: {
            padding: "0",
          },
        },
        classes: {
          // Add classes for arrows.
          arrows: "splide__arrows carousel__arrows",
          arrow: "splide__arrow carousel__arrow",
          prev: "splide__arrow--prev carousel__arrow--prev",
          next: "splide__arrow--next carousel__arrow--next",
          // Add classes for pagination.
          pagination: "splide__pagination carousel__pagination", // container
          page: "splide__pagination__page carousel__pagination__page", // each button
        },
      }).mount();
    }
  });
</script>
