---
import CldImage from "./CldImage.astro";

export interface Props {
  images: { src: string; alt: string }[];
}

const { images } = Astro.props;
---

<div class="carousel h-72 space-x-4">
  {
    images.map((image) => (
      <div class="carousel-item max-sm:w-full">
        <CldImage
          src={image.src}
          height="100%"
          width="100%"
          alt={image.alt}
          class="object-cover"
        />
      </div>
    ))
  }
</div>
