---
import { mapPageLinks, PageLink, removeTrailingSlash } from "../utils";
import NavGroupTitle from "./NavGroupTitle.astro";

interface Props {
  pageLinks: Record<string, PageLink[]>;
}

const { pageLinks } = Astro.props;

const currentPath = new URL(Astro.request.url).pathname;
---

<ul class="menu bg-base-100">
  {
    mapPageLinks(
      (links, group) => (
        <>
          <NavGroupTitle group={group} />
          {links.map((link) => (
            <li>
              <a
                href={link.href}
                class={
                  removeTrailingSlash(currentPath) ===
                  removeTrailingSlash(link.href)
                    ? "active"
                    : ""
                }
              >
                {link.title}
              </a>
            </li>
          ))}
        </>
      ),
      pageLinks
    )
  }
</ul>
