---
export interface Props {
  isBox?: boolean;
  isCompact?: boolean;
  class?: string;
  bgImage?: string;
}

const { isBox, isCompact, class: className, bgImage } = Astro.props;
---

<section
  class:list={[
    {
      ["px-4 py-6 md:p-8"]: isBox,
      ["pb-6 md:pb-8 last:pb-0"]: !isBox && isCompact,
      ["pb-8 md:pb-12 last:pb-0"]: !isBox && !isCompact,
    },
    className,
  ]}
  style={{ backgroundImage: bgImage }}
>
  <slot />
</section>
