---
import { CloudinaryImage } from "@cloudinary/url-gen";
import { Resize } from "@cloudinary/url-gen/actions";
import { cld } from "../utils";

export interface Props {
  title: string;
  bgImageSrc?: string;
  transformBgImage?: (image: CloudinaryImage) => CloudinaryImage;
}

const { title, bgImageSrc, transformBgImage = (i) => i } = Astro.props;

let image = bgImageSrc
  ? transformBgImage(
      cld
        .image(bgImageSrc)
        .format("auto")
        .quality("auto")
        .resize(Resize.fill().width(3000).height(800))
    )
  : null;

if (image && bgImageSrc.startsWith("https://")) {
  image.setDeliveryType("fetch");
}
---

<section
  class:list={[
    "hero flex-shrink-0 h-48 md:h-96",
    {
      "bg-stone-100": image,
      "bg-gradient-to-r from-primary to-slate-400": !image,
    },
  ]}
  {...image ? { style: `background-image: url(${image.toURL()});` } : {}}
>
  {image && <div class="hero-overlay" />}
  <div class="hero-content">
    <h1 class="text-4xl md:text-7xl font-bold text-white">
      {title}
    </h1>
  </div>
</section>
