---
import ProductsPageLayout from "../../layouts/ProductsPageLayout.astro";

export const __kci_navTitle = "Products";
---

<ProductsPageLayout>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <div>X</div>
    <div>X</div>
    <div>X</div>
    <div>X</div>
    <div>X</div>
    <div>X</div>
    <div>X</div>
    <div>X</div>
  </div>
</ProductsPageLayout>
