---
import ProductList from "../../components/productsPage/ProductList.astro";
import Layout from "../../layouts/Layout.astro";

export const __kci_navTitle = "Products";
---

<Layout title="Products - KCI">
  <div class="md:container mx-auto">
    <div class="flex justify-center p-4 md:p-8">
      <div class="md:min-w-[600px]">
        <ProductList />
      </div>
    </div>
  </div>
</Layout>
