---
import ProductList from "../../components/productsPage/ProductList.astro";
import Section from "../../components/Section.astro";
import TopHero from "../../components/TopHero.astro";
import OneColumnLayout from "../../layouts/OneColumnLayout.astro";

export const __kci_navTitle = "Products";
export const __kci_navBanner = "products-banner_riabmc";
---

<OneColumnLayout title="Products - KCI">
  <TopHero slot="hero" title="Products" bgImageSrc={__kci_navBanner} />
  <div class="md:container mx-auto">
    <Section>
      <div class="flex justify-center">
        <div class="md:min-w-[600px]">
          <ProductList />
        </div>
      </div>
    </Section>
  </div>
</OneColumnLayout>
