---
import ProductsPageLayout from "../../layouts/ProductsPageLayout.astro";
import TopHero from "../../components/TopHero.astro";
import * as resinTableData from "../../content/resinTableData";
import Section from "../../components/Section.astro";
import H2 from "../../components/typography/H2.astro";
import ResinTable from "../../components/productsPage/ResinTable.astro";

export const __kci_navThumb = "resin-product-thumb_f52736";
export const __kci_navDesc =
  "Refractories | Friction and abrasives | Moulding compounds | Foundries and more...";
export const __kci_navGroup = "Performance Chemicals";

const { novolakPowders, novolakSolutions, resoles } = resinTableData;
---

<ProductsPageLayout>
  <TopHero slot="hero" title="Phenolic Resins" />
  <Section class="prose max-w-none">
    <p>
      KCI offers a wide range of Phenol Formaldehyde resins for various
      applications.
    </p>
    <p>
      Our highly automated plant ensures excellent consistency. Through our
      experienced technical services team, we offer customized product
      development based on applications and processes.
    </p>
  </Section>
  <Section>
    <H2>Novolak Powders</H2>
    <article class="prose max-w-none mb-4">
      <p>
        Premixed with Hexamine. Available in short, medium and long flows. We
        also offer specialty powders with characteristics such as low or
        ultra-low free Phenol and dust suppression.
      </p>
    </article>
    <ResinTable
      data={novolakPowders}
      columns={["Grade", "Flow", "Hexamine Content (%)", "Features"]}
      {/* TODO Fix explicit type inference requirement */}
      getRowData={(grade: resinTableData.NovolakPowder) => [
        grade.label,
        grade.flow,
        grade.hexaContent,
        grade.features,
      ]}
    />
  </Section>
  <Section>
    <H2>Novolak Solutions</H2>
    <article class="prose max-w-none mb-4">
      <p>
        Available in different solvent compositions, viscosity and solid
        content.
      </p>
    </article>
    <ResinTable
      data={novolakSolutions}
      columns={["Grade", "Viscosity (cP)", "Solid Content (%)", "Features"]}
      {/* TODO Fix explicit type inference requirement */}
      getRowData={(grade: resinTableData.NovolakSolution) => [
        grade.label,
        grade.viscosity,
        grade.solidContent,
        grade.features,
      ]}
    />
  </Section>
  <Section>
    <H2>Resoles</H2>
    <article class="prose max-w-none mb-4">
      <p>
        Self-advancing type resins. They are either water-based or
        solvent-based. Their solvent system depends on processing and curing
        requirements. These resins can be cured either by heating or by means of
        a catalyst at ambient temperatures.
      </p>
    </article>
    <ResinTable
      data={resoles}
      columns={["Grade", "Viscosity (cP)", "Solid Content (%)", "Features"]}
      {/* TODO Fix explicit type inference requirement */}
      getRowData={(grade: resinTableData.Resole) => [
        grade.label,
        grade.viscosity,
        grade.solidContent,
        grade.features,
      ]}
    />
  </Section>
</ProductsPageLayout>
