---
import Menu from "../components/aboutPage/Menu.astro";
import Layout from "./Layout.astro";
---

<Layout title="About Us - Kanoria Chemicals">
  <div class="lg:flex">
    <Menu />
    <slot />
  </div>
</Layout>
