---
import NavMenu from "../components/aboutPage/NavMenu.astro";
import Layout from "./Layout.astro";
---

<Layout title="About Us - Kanoria Chemicals">
  <div class="lg:flex">
    <NavMenu />
    <slot />
  </div>
</Layout>
