---
import NavMenu from "../components/productsPage/NavMenu.astro";
import Layout from "./Layout.astro";
---

<Layout title="Products - Kanoria Chemicals">
  <div class="lg:flex">
    <NavMenu />
    <slot />
  </div>
</Layout>
