---
import { getSubpages } from "../../utils";

const childPages = await getSubpages(
  import.meta.glob("../../pages/products/*.{astro,md,mdx,html}")
);

const currentPath = new URL(Astro.request.url).pathname;
---

<ul class="menu bg-base-100 w-56 hidden lg:flex">
  {
    childPages.map((page) => (
      <li>
        <a href={page.href} class={currentPath === page.href ? "active" : ""}>
          {page.title}
        </a>
      </li>
    ))
  }
</ul>
<div class="dropdown lg:hidden">
  <label tabindex="0" class="btn m-1">Click</label>
  <ul
    tabindex="0"
    class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52"
  >
    {
      childPages.map((page) => (
        <li>
          <a href={page.href} class={currentPath === page.href ? "active" : ""}>
            {page.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
