---
import { getPageLinks, mapPageLinks } from "../../utils";
import ProductListItem from "./ProductListItem.astro";

const links = await getPageLinks(
  import.meta.glob("../../pages/products/*.{astro,md,mdx,html}")
);
---

<div class="grid md:grid-cols-2 gap-8">
  {
    mapPageLinks(
      (links, group) => (
        <ul>
          <li>{group}</li>
          {links.map((link) => (
            <ProductListItem pageLink={link} />
          ))}
        </ul>
      ),
      links
    )
  }
</div>
