---
import { PageLink } from "../../utils";
import CldImage from "../CldImage.astro";

export interface Props {
  pageLink: PageLink;
}

const { pageLink } = Astro.props;
---

<div class="w-full h-40">
  {
    pageLink.thumb && (
      <CldImage
        src={pageLink.thumb}
        width="100%"
        height="100%"
        alt={pageLink.title}
      />
    )
  }
  {pageLink.title}
</div>
