---
import { flatten } from "ramda";
import {
  NovolakPowder,
  NovolakSolution,
  ResinTypeData,
} from "../../content/products/resinTableData";

export interface Props<T = NovolakPowder | NovolakSolution> {
  data: ResinTypeData<T>;
  columns: string[];
  getRowData: (grade: T) => [string, string, string, string];
}

const { data, columns, getRowData } = Astro.props;
---

<div
  class:list={[
    "w-full max-w-full",
    "overflow-x-auto",
    "grid",
    "grid-cols-[1fr_1fr_1fr_minmax(200px,_2fr)]",
    "lg:grid-cols-[1fr_1fr_1fr_minmax(300px,_2fr)]",
    "text-sm",
  ]}
>
  {
    columns.map((col) => (
      <div
        class:list={[
          "p-2",
          "border-b-2 border-solid border-base-300",
          "font-bold text-sm",
        ]}
      >
        {col}
      </div>
    ))
  }
  {
    flatten(
      data.industries.map((industry) => [
        <div class="col-span-4 p-2 bg-base-200">{industry.label}</div>,
        industry.grades.map((grade) =>
          getRowData(grade).map((cell) => (
            <div class="p-2 border-b border-solid border-base-400">{cell}</div>
          ))
        ),
      ])
    )
  }
</div>
